body{
	font-size: 11px; margin: 0; color: #333;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	background: #C1E0FA;
}

.header{height: 38px; background: #3B8DD0; margin: 0; text-align: center;}

.title{
	color: #fff; padding-top: 10px; font-size: 16px; font-weight: bold;
	text-shadow: -1px -1px 0px #3B8DD0, 1px 1px 0px #3B8DD0;
}

.wrapper{width:950px; margin: auto; margin-top: 10px;}
.menu{float:left; width: 200px; margin:top-10px;}
.content{padding: 5px;margin-left: 201px;background: #fff;}

li{display: block; text-decoration: none; text-align: right; 
	background: #fff;border-top:1px dashed #C1E0FA}
li.selected {opacity: 0.7; margin-left: 5px;}
li.first{border-top: none;}
li:hover{opacity: 0.7; margin-left: 5px;}

.menu a, .menu a:visited {display: block; padding: 8px 10px; 
	text-decoration: none; color: #333; text-transform: uppercase;}
.part a, .part a:visited {text-decoration: none; color: #900;}
.part a:hover {text-decoration: underline;}

h1 {
	background:#ebf3f9;
	margin:0;
	padding:4px 8px 3px;
	font-family:Helvetica, Arial, sans-serif;
	text-shadow:1px 1px #ffffff;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}

#save_options {
	padding:3px 6px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin:4px;
	-moz-box-shadow:0 0 2px #333333;
	-webkit-box-shadow:0 0 2px #333333;
	-o-box-shadow:0 0 2px #333333;
	box-shadow:0 0 2px #333333;
	border:1px solid #eafedf;
	font-weight:bold;
	background-color:#a6e086;
	color:#fff;
	cursor:pointer;
	float:right;
}
