body {font-size: 11px; width: 300px; margin: 0; color: #333; font-family: "Lucida Grande", "Trebuchet MS", sans-serif;}

/*Links*/
a, a:visited {text-decoration: none; color: #009; outline: none;}
a:hover {text-decoration: underline; color: #006;}
a.showtitle, a.showtitle:visited {text-decoration: none; color: #444; outline: none; font-weight: bold;}
a.showtitle:hover {color: #900; text-decoration: none;}
a.epLink, a.epLink:visited {text-decoration: none; color: #444; outline: none;}
a.epLink:hover {color: #900; text-decoration: none;}
a.link, a.link:visited {display: block; margin-top: 4px; text-decoration: none; color: #666; line-height: 18px; clear: left;}
a.link:hover {color: #000; font-weight: bold;}
a.invisible, a.invisible:visited {text-decoration: none; outline: none;}
a.invisible:hover {text-decoration: none;}

.remain {position: relative; background-color: #444; color: #fff; font-size: 10px; border-radius: 4px; padding: 0 3px 0 3px; margin-left: 6px;}
.remain:after {content: ''; position: absolute; width: 0; height: 0; border: 4px solid;}
.remain-right:after {border-right-color: #444; top: 50%; right: 100%; margin-top: -4px;}

.nano .content      { padding: 0px; }
.nano .pane         { background: #fff; }
.nano .pane .slider { background: #bbb; }

/*Pannel*/
#header {padding-bottom: 3px; border-bottom: 1px solid #bbb;}
#about {margin: 3px 0 3px 0;}

/*Help*/
#footer {height: 14px; padding-top: 3px; border-top: 1px solid #BBB; padding-left: 10px;}
#help-wrapper {float: left;}
#help-text {font-style: italic; color: #999; font-size: 10px;}

/*Logo*/
.show {margin-top: 10px;}
.showtitle {border-bottom: 1px solid #dcdcdc; text-transform: uppercase;}
.toggleShow {padding: 0 2px 0 2px;}
.title {margin-top: 10px; border-bottom: 1px solid #dcdcdc; text-transform: uppercase; font-weight: bold;}
.title2 {margin-top: 10px; border-bottom: 1px solid #dcdcdc; text-transform: uppercase;}
.tcolor {color: #666;}
img.archive, img.unarchive{margin-bottom:-1px; height:11px;}
img.archive:hover,img.unarchive:hover{cursor: pointer;}
#logoLink, #logoLink:visited {font-variant: small-caps; font-size: 20px; letter-spacing: 2px; margin-right: 2px;}
#logoLink:hover {text-decoration: underline;}
.fleft200 {float: left; width: 200px;}
.fright200 {margin-left: 200px; padding-right: 5px;}
.aright {text-align: right;}

/*Actions*/
#logo {float: left; width: 200px;}
#actions {text-align: right; padding: 2px 3px 0 0; height: 21px;}
img.action {opacity: 0.5; cursor: pointer;}
img.action:hover {opacity: 1.0;}

#title {float: left; width: 160px; color: #aaa; font-variant: small-caps;}
#menu-wrapper {text-align:right; margin-right: 3px;}
#trash-wrapper {text-align:right; margin-right: 3px;}
img.action {opacity: 0.5; cursor: pointer;}
img.action:hover {opacity: 1.0; cursor: pointer;}

/*membersEpisodes*/
#page {width: 294px;}
.episode {height: 18px; border-bottom: 1px solid #eee; padding: 3px 0 0 0;}
.episode:hover {background-color: #f5f5f5;}
.episode.new {background-color: #fff3ee;}
.episode.hidden, .remain.hidden {display: none;}
img.subs {cursor: pointer;}
span.num {color: #999; font-size: 10px;}
span.new {color: #900; font-size: 9px; font-variant: small-caps;}
div#message {color: #900; margin: 3px 0 3px 0; text-align: center; background-color: #fc9;}
.membersEpisodes .left, .showsEpisodes .left {float:left; width:230px;}
.membersEpisodes .right, .showsEpisodes .right {margin-left: 230px; width:60px;}
span.toggleEpisodes {text-align: right; font-size: 9px; color: #666; margin-right: 5px; font-weight: normal;}
div.clear {clear: both;}

/*planningMember*/
.planningMember .left {float:left; width:205px;}
.planningMember .right {margin-left: 205px; width:80px;}
.date {font-variant: small-caps; color: #888;}
.lun {background: #fff9ee;}
.mar {background: #fff3ee;}
.mer {background: #faffee;}
.jeu {background: #eefffb;}
.ven {background: #eefff0;}
.sam {background: #eef6ff;}
.dim {background: #feeeff;}

/*icones*/
.icon {float:left;margin-right:4px;}
.icon2 {margin: 0 4px -4px 0;}
.icon-3 {margin-bottom: -3px;}
.icon-4 {margin-bottom: -4px;}

/*view timeline, notifications, commentsEpisode*/
.timelineFriends .left, .membersNotifications .left {float: left; width: 205px;}
.timelineFriends .right, .membersNotifications .right {margin-left: 205px; width: 80px;}
.timelineFriends .event, .membersNotifications .event, .commentsEpisode .event {padding: 5px 0 5px 0; border-bottom: 1px solid #dcdcdc;}
.timelineFriends .login, .commentsEpisode .login {color: #54709D;}
	
/*section cache*/
.cache .left {float: left; width: 230px;}
.cache .right {margin-left: 230px; width: 60px; text-align: right;}

/*images link*/
.imgSyncNo {width: 19px; height: 16px; display: block; float: left;}
.imgSyncOff {background: url(../img/sync.png) no-repeat; width: 19px; height: 16px; display: block; float: left;}
.imgSyncOn {background: url(../img/sync.gif) no-repeat; width: 19px; height: 16px; display: block; float: left;}

/*section menu*/
.menu a, .menu a:visited {display: block; text-decoration: none; color: #333; text-transform: uppercase;}
.menu a:hover {background-color: #f5f5f5;}
.menu img {margin: 5px;}
